body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa; 
    font-family: Arial, sans-serif; 
  }
  
  header {
    background-color: #5b6d80; 
    color: #fff; 
    padding: 10px;
    text-align: center;
  }
  
  section {
    padding: 20px;
  }
  
  footer {
    background-color: #5b6d80; 
    color: #fff; 
    padding: 10px;
    text-align: center;
    margin-top: auto; 
    font-size: 80%; /* 80% normaalista tekstikoosta */
  }